@CHARSET "UTF-8";

#mathHeaderWrapper, #mathHeaderWrapper:hover {
	border-radius: 1em 1em 0 0;
}

#mathMenu {
	width:100%;
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 1.5em;
	overflow: hidden;
	float: left;
	color: #000;
}

#mathMenu li {
	cursor: pointer;
	display: inline;
	width: auto;
	overflow: hidden;
	float: left;
}

.mathHeader {
	text-align : center;
}

.mathSubtext {
	float: left;
	display: inline;
	text-align : center;
}

.right, .right:hover {
	border-radius: 0 0.5em 0 0;
}

.left, .left:hover {
	border-radius: 0.5em 0 0 0;
}

.left.right {
	border-radius: 0.5em 0.5em 0 0;
}

.rightBorder {
	border-right: solid 1px #222;
}