<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="applicationContextProvider" class="com.johnsully83.ApplicationContextProvider">
	</bean>
	
	<bean id="groovyObjectTargetClassPreservingBeanFactoryPostProcessor" class="com.johnsully83.utility.GroovyObjectTargetClassPreservingBeanFactoryPostProcessor">
	</bean>
	
	<context:component-scan base-package="com.johnsully83.service" />
	<context:component-scan base-package="com.johnsully83.events" />
	
	<bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean" />

	<bean id="appSettings" class="com.johnsully83.AppSettings">
		<constructor-arg index="0" value="${dateFormat}" />
		<constructor-arg index="1" value="${emailSender}" />
	</bean>
	
	<bean id="openExchangeConfig" class="com.johnsully83.model.config.OpenExchangeConfig">
		<constructor-arg index="0" value="${openExchangeBaseUrl}" />
		<constructor-arg index="1" value="${openExchangeTypeListEndpoint}" />
		<constructor-arg index="2" value="${openExchangeLatestRatesEndpoint}" />
		<constructor-arg index="3" value="${openExchangeApiKey}" />
	</bean>
	
	<!-- REST Template for REST calls -->
	<bean id="restTemplate" class="org.springframework.web.client.RestTemplate">
		<property name="messageConverters">
			<list>
				<ref bean="jsonConverter" />
			</list>
		</property>
	</bean>

	<bean id="jsonConverter" class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
		<property name="supportedMediaTypes" value="application/json" />
	</bean>

	<!-- Emailer -->
	<bean id="emailer" class="com.johnsully83.email.simple.SimpleMailService">
		<property name="host" value="${mailhost}" />
		<property name="port" value="${mailport}" />
		<property name="username" value="${mailusername}" />
		<property name="password" value="${mailpassword}" />
	</bean>

	<!-- Message Source from .properties files -->
	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>ValidationMessages</value>
				<value>ThankYouEmail</value>
			</list>
		</property>
	</bean>

	<!-- Dozer Mapping -->
	<bean id="mapper" class="org.dozer.DozerBeanMapper">
		<property name="mappingFiles">
			<list>
			</list>
		</property>
	</bean>

	<bean id="geoPlanetApi" class="com.jgeoplanet.GeoPlanet">
		<constructor-arg index="0" value="${geoPlanetApiKey}" />
	</bean>

</beans>